body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat', sans-serif;
}

.navbar {
    position: relative;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 50px;
    padding-block: 10px;
    border-top: 1px solid rgb(125, 125, 125);
    border-inline: 1px solid rgb(195, 195, 195);
    border-bottom: 1px solid rgb(195, 195, 195);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.selector {
    width: 20%;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    background-color: black;
    transition: transform 0.3s ease-out;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
    color: rgb(125, 125, 125);
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.item.current {
    color: rgb(0, 0, 0);
}

.item span, svg {
    pointer-events: none;
}

svg {
    max-width: 50%;
}

svg path {
    fill: rgb(125, 125, 125);
}

.item.current path {
    fill: rgb(0, 0, 0);
}